.AboutBody {
    background-color: #FAFAFA;
}
.AboutHeader{
    height: 150px;
    background-color: #FFD600;
    padding: 5%;
}

.me{
    border-radius: 100%;
    margin-top: -8%;
}

.ThingsILike{
    display: flex;
    justify-content: space-evenly;
}