.AboutBody {
    background-color: #FAFAFA;
    font-size: 25px;
}
.AboutHeader{
    height: 150px;
    background-color: #FFD600;
    padding: 5%;
}
.AboutContent{
    padding: 5%;
}
.me{
    border-radius: 100%;
    margin-top: -8%;
}

.ThingsILike{
    display: flex;
    justify-content: space-evenly;
}