.ContactBody {
    background-color: #FFD600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.ContactCard {
    background-color: #FAFAFA;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

.SocialLink{
    font-weight: 600;
    color: #3C8AFF;
}
