.DictionaryBody {
  padding: 5%;
  font-size: 25px;
  text-align: center;
}

.DictionaryList.selected {
  background-color: rgb(255, 1, 196);
  /* Add any other styles you want to apply to the selected letter */
}

.learnArea {
  padding: 5%;
  font-size: 30px;
  list-style: none;
}

.DictionaryList {
  display: inline-block;
  margin: 15px;
  padding: 25px;
  border-radius: 100%;
  background-color: #FFD600;
}

.sign {
  width: 30px;
}

@media (max-width: 768px) {
  .DictionaryBody {
    padding: 2%;
    font-size: 20px;
  }

  .learnArea {
    padding: 2%;
    font-size: 25px;
  }

  .DictionaryList {
    padding: 20px;
    margin: 10px;
  }
}
