.DictionaryBody {
    background-color: #3C8AFF;
    padding: 5%;
    font-size: 25px;
}

.DictionaryList.selected {
    background-color: rgb(255, 1, 196);
    /* Add any other styles you want to apply to the selected letter */
  }
  
.learnArea{
    padding: 5%;
    font-size: 30px;
    list-style: none;
}

.DictionaryList {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    border-radius: 100%;
    background-color: #FFD600;
  }

.sign{
    width: 30px;
}
