.homeBody {
    background-color: #FAFAFA;
    font-size: 25px;
}

.HomeHeader {
    background-color: #3C8AFF;
    height: 20%;
    padding: 10%;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #3C8AFF;
    padding: 7%;
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.infocard {
    display: block;
    padding: 10%;
}

ul{
    list-style: none;
}

.HomeButton{
    background-color: #FFD600;
    border-radius: 10px;
    padding: 10px;
    border-color: transparent;
}

.icon{
    color: #FFD600;
}