.homeBody {
    background-color: #FAFAFA;
}

.HomeHeader {
    height: 20%;
    background-color: #3C8AFF;
    padding: 10%;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

footer {
    background-color: #3C8AFF;
    padding: 7%;
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.infocard {
    display: flex;
    padding: 10%;
}

ul{
    list-style: none;
}

.HomeButton{
    float: right;
}

.icon{
    color: #FFD600;
}