.InterBody {
    background-color: #FAFAFA;
    font-size: 25px;
}

.InterHeader {
    height: 20%;
    background-color: #FFD600;
    padding: 10%;
}

.quelle {
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.quelleText{
    padding: 5%;
}

.Form{
    background-color: #FFD600;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 5%;
    margin: 5%;
    text-align: center;
    /* width: 50%; */
    border-radius: 50px;
}

.Form input, select, button{
    padding: 5px;
    border-radius: 30px;
    border-color: transparent
}