.InterBody {
    background-color: #FAFAFA;
    font-size: 18px;
  }
  
  .InterHeader {
    height: 20vh;
    background-color: #FFD600;
    padding: 5%;
    text-align: center;
  }
  
  .quelle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }
  
  .quelleText {
    padding: 5%;
    text-align: left;
  }
  
  .quelleImage {
    max-width: 100%;
    height: auto;
  }
  
  .Form {
    background-color: #FFD600;
    padding: 5%;
    margin: 5%;
    text-align: center;
    border-radius: 50px;
  }
  
  .Form input,
  .Form select,
  .Form button {
    padding: 5px;
    border-radius: 30px;
    border-color: transparent;
  }
  
  @media screen and (min-width: 768px) {
    .InterBody {
      font-size: 25px;
    }
  
    .InterHeader {
      padding: 4%;
    }
  
    .quelle {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
    }
  
    .quelleText {
      padding: 2%;
    }
  
    .quelleImage {
      width: 300px;
      height: 300px;
    }
  }
  