.CourseBody {
    background-color: #FAFAFA;
    font-size: 25px;
}

.CourseHeader {
    height: 20%;
    background-color: #FFD600;
    padding: 5%;
}

.YouTubeImg{
    width: 300px;
    border-radius: 10%;
}